<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<p>This EULA is an extension to the <a href="http://www.apple.com/legal/internet-services/itunes/appstore/dev/stdeula/">Apple Standard EULA</a></p>
<p>This End User License Agreement ("Agreement") is between you and a little closer("a little closer") and governs your use of the a little closer application (the "a little closer App") made available through the Apple App Store. The a little closer App allows you to use certain aspects of a little closer's service, available at www.a little closer.com (the "a little closer Service").   </p>

<p>Parties. This Agreement is between you and a little closer only, and not Apple, Inc. ("Apple"). a little closer, not Apple, is solely responsible for the a little closer App and its content. Although Apple is not a party to this Agreement, Apple has the right to enforce this Agreement against you as a third party beneficiary.  </p>
<p>Content. You shall not submit content that is offensive to anyone. Particularly sexual, racist, or other commercially inappropriate content.</p>
<p>Warranty. The a little closer App is provided for free on an "as is" basis. As such, a little closer disclaims all warranties about the a little closer App to the fullest extent permitted by law. To the extent any warranty exists under law that cannot be disclaimed, a little closer, not Apple, shall be solely responsible for such warranty.  </p>
<p>Maintenance and Support. Because the a little closer App is free, a little closer does not provide any maintenance or support for it. To the extent that any maintenance or support is required by applicable law, a little closer, not Apple, shall be obligated to furnish any such maintenance or support.  </p>
<p>Product Claims. a little closer, not Apple, is responsible for addressing any claims by you relating to the a little closer App or use of it, including, but not limited to: (i) any product liability claim; (ii) any claim that the a little closer App fails to conform to any applicable legal or regulatory requirement; and (iii) any claim arising under consumer protection or similar legislation. Nothing in this Agreement shall be deemed an admission that you may have such claims. </p>
<p>U.S. Legal Compliance. You represent and warrant that (i) you are not located in a country that is subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a "terrorist supporting" country; and (ii) you are not listed on any U.S. Government list of prohibited or restricted parties. </p>
<p>Contact Information. Should you have any questions, complaints, or claims relating to the a little closer App, please contact us at support@alittlecloser.com.  </p>

</body>
</html>