<h3>This gift was successfully delivered</h3>
<p>We met Ashley in San Francisco to drop off Queso & Chips from here high school teammate. It turned from a simple gift into a great night out. Thank you, Ashley!</p>
<p>The following is a video of our encounter.</p>
<div class="videoWrapper">
    <!-- Copy & Pasted from YouTube -->
    <iframe src="//player.vimeo.com/video/84838964" width="100%" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<p>Share it or add your own connection to get involved.</p>
