
<h2>Probabilities for January 23, 2014</h2>
<p></p>
<p>Take a look at the Gap Up Probabilities. At 61.7% it is a great day to trade.</p>
<p></p>
<table class="table table-hover">
<tr>
      <th>SUMMARY OF THE PROBABILITIES    For : 1/6/14</th>
      <th>Percent Profitable</th>
      <th>Profit Factor</th>
   </tr>
   <tr>
      <td>Gap Up Probabilities - Raw Data</td>
      <td>54.55%</td>
      <td>1.24</td>
   </tr>
   <tr>
      <td>Gap Up Trade using Optimized Trailing Stop Loss</td>
      <td>54.55%</td>
      <td>1.36</td>
   </tr>
   <tr>
      <td>Gap Down Probabilities - Raw Data</td>
      <td>57.14%</td>
      <td>1.66</td>
   </tr>
   <tr>
      <td> Gap Down Trade using Optimized Trailing Stop Loss </td>
      <td>45.45%</td>
      <td>1.93</td>
   </tr>
   <tr>
      <td>Higher Closinig Probabilities - Raw Data</td>
      <td>46.15%</td>
      <td>1.50</td>
   </tr>
   <tr>
      <td>Higher Closing Trade using Optimized Trailing Stop Loss</td>
      <td>45.45%</td>
      <td>1.33</td>
   </tr>
   <tr>
      <td>Lower Closing Probabilities - Raw Data</td>
      <td>42.86%</td>
      <td>0.6</td>
   </tr>
   <tr>
      <td>Lower Closing Trade using Optimized Trailing Stop Loss</td>
      <td>0.00%</td>
      <td>0.73</td>
   </tr>
   <tr>
      <td>Higher High Probabilities - Raw Data</td>
      <td>85.71%</td>
      <td>8.33</td>
   </tr>
   <tr>
      <td>Higher High Breakout Trade using Optimized Trailing Stop Loss</td>
      <td>57.14%</td>
      <td>2.62</td>
   </tr>
   <tr>
      <td>Lower Low Probabilities - Raw Data</td>
      <td>59.09%</td>
      <td>1.50</td>
   </tr>
   <tr>
      <td>Lower Low Breakdown Trade using Optimized Trailing Stop Loss</td>
      <td>0.00%</td>
      <td>0.00</td>
   </tr>
   <tr>
      <td>                                                          Gap Fill Probabilities - Raw Data for:</td>
      <td>60.00%</td>
      <td>1.67</td>
   </tr>
   <tr>
      <td>Gap Fill Trade using Optimized Trailing Stop Loss</td>
      <td>85.71%</td>
      <td>6.00</td>
   </tr>
</table>
<p><img class="newsletter_image" src="https://dl.dropboxusercontent.com/u/259438836/AllProb012214.png"></p>
<div style="text-align:center;">
    <button type="button" class="btn btn-primary show-probability-image">See Probability Details</button>
    <button type="button" class="btn btn-default">Download Raw Spreadsheet</button>
</div>
<p>Does this work?</p>